<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
  <h3> Here is our login form </h3>
    <form method="post">
      <input type="text" name="username" value="{{user.username}}" ><br/>
      {% if(error.username) %}
      <p>{{error.username.msg}}</p>
      {% endif %}
      <input type="text" name="password" ><br/>
       {% if(error.password) %}
      <p>{{error.password.msg}}</p>
      {% endif %}
      
      <input type="text" name="cpassword" ><br/>

      <input type="submit" name="submit" />
    </form>
</body>
</html>